# strings
* A String is a data structure in Python that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it. Strings are used widely in many different applications, such as storing and manipulating text data, representing names, addresses, and other types of data that can be represented as text.

In [1]:
a=5
a= a+1
a

6

In [3]:
a=5
a//=2
a

2

In [4]:
a = 5
a &= 2
a

0

In [5]:
a = 5
a<<=2
a

20

In [6]:
a = 5
a >>=2
a

1

In [8]:
a = 5
a %= 2
a

1

### creating a strings
* strings are 'char or a seq of chars, enclosed in quotes' (single,double,triple-single or triple-double quotes) (''), (""). (''' ''').
* triple-quotes are used as multiline strings,multiline comments and as doc strings.
* it is an immutable data type, which means once a string is created, it cannot be modified.
* however, it is possible to create a new string by concatenating two or more strings.

In [10]:
#creating a string
s1 = 'this is a string, enclosed in single quotes'
s2 = "this is a string, enclosed in single quotes"
s3 = '''this is a multi-string,
enclosed in triple single quotes'''
print (s1,s2,s3,sep='\n')
"""" this is an informative
multi-line comment,
created by using triple double quotes """

this is a string, enclosed in single quotes
this is a string, enclosed in single quotes
this is a multi-string,
enclosed in triple single quotes

'" this is an informative\nmulti-line comment,\ncreated by using triple double quotes '

### escaping character
* (")= used as an escaping character instead of using (')
* While printing Strings with single and double quotes in it causes Syntax Error because String already contains Single and Double Quotes and hence cannot be printed with the use of either of these. Hence, to print such a String either Triple Quotes are used or Escape sequences are used to print Strings.
* Escape sequences start with a backslash and can be interpreted differently. If single quotes are used to represent a string, then all the single quotes present in the string must be escaped and the same is done for Double Quotes.

In [11]:
a = "this cup now belong's to INDIA"
a

"this cup now belong's to INDIA"

In [9]:
# compiler error 
a = "this cup now belong's to INDIA"
print (a)
a = 'this cup now belong\'s to INDIA'
a

this cup now belong's to INDIA

"this cup now belong's to INDIA"

In [12]:
# escaping character
print ('a\nb') # new line
print ('a\tb') # tab/ four spaces
print ('ab\rc') # moves the curser to start of the line

a
b
a	b
c

### raw-string and format-string 
* reading everything in a raw format.
* a special type of string that allows you to include backslashes (\) without interpreting them an escape sequences.

In [13]:
#r-strings
print ('c:\abc\newfolder\j.jpg') # compilers error
print ('c:\\abc\\newfolder\\j.jpg') # alternative method of printing
print (r'c:\abc\new folder\j.jpg') # using r string

c:bc
ewfolder\j.jpg
c:\abc\newfolder\j.jpg
c:\abc\new folder\j.jpg

In [16]:
r, h = 5,7
vol = (22/7)*(r**2)*h
print('the volume of a cyl, whose radius is', r, 'whose h is', 'is', vol)
print(f'the vol of cyl whose r and h are {r} and {h} respectively is {vol}')

the volume of a cyl, whose radius is 5 whose h is is 550.0
the vol of cyl whose r and h are 5 and 7 respectively is 550.0

In [19]:
# f-string example
print(f'a sphere with diameter {10} cms, volume will be {(22/7)*((10/2)**3)*(4/3)} cubic cms')

a sphere with diameter 10 cms, volume will be 523.8095238095237 cubic cms

## strings can be indexed (or) string indexing
* strings can be indexed: "indexing means reffering to an element of an iterable by its position with its position within the iterable.
* since strings are sequence of chars, and this seq has an indexing value.
* indexing is of two types:
-> accessing characters by positive index number
-> accessing characters by negative index numbers

#### positive indexing
* since strings are sequence of chars, and this seq has an order. we can access individual chars by their index or position in that seq enclose in [].
         x = 'python'
* string x has a len of 6, (len of string is equals to the number of chars in that string) the first index is 0 (indexing in python starts with 0) 
* positive indexing 
* 'python' (len 6)
 * p y t h o n
 * 0 1 2 3 4 5

* in positive indexing, we move from left to right and thr start index is '0'and the end index is 'n-1', where n is len of the string.

In [2]:
x = 'python'
print (x[3]) # accessing 'h we using positive indexing (left to right starts with 0 a......)

h

#### negative indexing (backward direction indexing)
* we can also access the chars in a string using negative indexing.
* in negative indexing, we move from right to left and thr start index -1 and the end index is -n, where n is len of the string.
*  p  y  t  h  o  n
* -6 -5 -4 -3 -2 -1

In [3]:
# negative indexing
print (x[-3]) # accessing 'h' using negative indexing

h

### slicing
* slicing is the extraction of a part of sequence, such as string, list, or tuple.
* you can slice a sequence by specifying the below start & stop indices separated by a colon [:]
* syntax: object(start:end:step_size)
* "start" specifies the starting index of a slice
* "end" specifies the ending element of a slice -1. it tells us which index the slicing has to happen, (we are not going to include char at end_index)
* "step_size" specifies about how many steps it has to move while performing the slicing. by default, step_size is +1.

syntax for slicing:
* var[start_index: end_index:step_size]

In [4]:
#example
x = 'i am not sure what to take as an example'
print (len(x))
print (x[0:13])
print (x[0:41])
print (x[0:41:2])
print (x[0:41:1])
print (x[::])
print (x[14:18])

40
i am not sure
i am not sure what to take as an example
ia o uewa otk sa xml
i am not sure what to take as an example
i am not sure what to take as an example
what

In [25]:
print ('abc', 'def')
print ('xyz')

abc def
xyz

In [28]:
x = 'python'
print (x)
print (c)

python
nohtyp

In [29]:
x[::-1]

'nohtyp'

In [30]:
x[-1:-7:-1]

'nohtyp'

In [35]:
x

'python'

In [32]:
x[-1:-5:-1]

'noht'

In [33]:
x[-1:-6:-1]

'nohty'

In [45]:
x[6::-1]

'nohtyp'

In [46]:
x[6:0:-1]

'nohty'

### string concatenation
adding two or more values

In [6]:
# to add 2 variables
a,b = 'inno', 'minds'
c= a+b
c

'innominds'

In [9]:
c*3

'innomindsinnomindsinnominds'

In [4]:
# to add a space between them, add a " "
a = "sathwika"
b = "suggala"
c = a+ " " +b
# integer
print (c)
x = 10
y =10
print (x + y)

sathwika suggala
20

In [7]:
c*3 # c+c+c

'innomindsinnomindsinnominds'

In [12]:
c *=3

## string class

### Ascii values
* (American Standard Code for Information Interchange) is a standard encoding used in telecommunication.
* ascii codes are used to represent the alphanumeric data.
* ascii value will be lies in 65 to 91
* The issue with ASCII is that its character set is far too small to support all of the world's languages, dialects, symbols, and glyphs. (It's insufficiently large for English only.)
* capital letters are ascii
* A -> a ->32
* x = 'apple'
* ord('APPLE')-> ascii
* the object of 'apple' comes under class string.

### unicodes
* small letters is unicode
* The basic function of Unicode is the same as that of ASCII but unicode only covers a far larger range of code points.
* A -> a ->32
* x = 'apple'
* char ('apple')-> unicode
* the object of 'apple' comes under class string.

### class
* classes are blueprint or prototype of an object.
* classes provides a bundling data and functionality together.
* A new object type is created when a new class is created. This allows the creation of new instances of that type. For the purpose of preserving its state, each class instance may have attributes connected to it.
* the class instances also have methods for modifying their states.

In [47]:
x = {'a': 'name', 'b':'place', 'c': 'thing', 'a': 'animal' }
print (x) #dictionary does not have duplicates (repeated values)
print(x, type(x))

{'a': 'animal', 'b': 'place', 'c': 'thing'}
{'a': 'animal', 'b': 'place', 'c': 'thing'} <class 'dict'>

In [48]:
x = 261
print(x, type(x)) #x - dict

261 <class 'int'>

### class in strings
* The String class represents character strings.
* All string literals in Java programs, such as "abc" , are implemented as instances of this class.
* Strings are constant; their values cannot be changed after they are created.

In [51]:
x = 'python'
print (x)
print (type(x)) #str is a class

python
<class 'str'>

In [21]:
x = 'PYTHON'
print (x)
x.lower()

PYTHON

'python'

In [27]:
str.upper
'apple'

'apple'

In [28]:
str.lower 
'apple'

'apple'

### object

An Object is an instance of a Class. A class is like a blueprint while an instance is a copy of the class with actual values

* State: It is represented by the attributes of an object. It also reflects the properties of an object.
* Behavior: It is represented by the methods of an object. It also reflects the response of an object to other objects.
* Identity: It gives a unique name to an object and enables one object to interact with other objects.

## string methods
* strings are <u>** 'immutable'** <\u>, the resulting strings from string methods have a new memory location
* in order to use these strings, we need reassing it to a var.

In [52]:
print(dir(str)) # all the methods present in class

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### upper case()

In [53]:
x = "'i scream you scream we all scream for icecream'"
x

"'i scream you scream we all scream for icecream'"

In [48]:
id(x)

2222370002000

In [30]:
dir(x) #the method which are predefined.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [54]:
x.upper()

"'I SCREAM YOU SCREAM WE ALL SCREAM FOR ICECREAM'"

In [55]:
print (x,'\n')
x.upper()

'i scream you scream we all scream for icecream'

"'I SCREAM YOU SCREAM WE ALL SCREAM FOR ICECREAM'"

### lowercase ()
* this method changes all the characters in a string to lowercase or small letters

In [51]:
xu=x.lower()
xu

"'i scream you scream we all scream for icecream'"

In [52]:
xu.lower()

"'i scream you scream we all scream for icecream'"

In [55]:
xl = xu.lower()
xl

"'i scream you scream we all scream for icecream'"

In [56]:
xl

"'i scream you scream we all scream for icecream'"

In [56]:
id(xl)

3077820639760

### capitalize ()
* this method returns a string where the first character is upper case, and the rest is lower case.

In [14]:
xu = 'im decided to play harmonica'
xu

'im decided to play harmonica'

In [15]:
xu.capitalize() #capitalize

'Im decided to play harmonica'

### title()
* this title string is used to convert first character in each word to uppercase() and remaining chars to lower case.
* it converts string into titlecase
* the first alphabet of every word starts with capital letter.
* syntax - string.title()

In [20]:
help(str.title)

Help on built-in function title:

title() method of builtins.str instance
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [2]:
#syntax
# example 1
str= 'i play harmonica' 
str.title()

'I Play Harmonica'

In [10]:
pw = "123abc !def zx 1234!!" 
pw.title() # converts first aplhabet in every word
xl = pw.title()
print (xl)

123Abc !Def Zx 1234!!

### swap case()
* swap case can swap from the lower letters to upper letters.
* also upper letters are swapable with lower letters.

In [23]:
# swap case()
xt = 'eccedentesiast'
xt.swapcase()

'ECCEDENTESIAST'

In [24]:
xsc = xt.swapcase()
xsc

'ECCEDENTESIAST'

In [25]:
help(xsc.swapcase)

Help on built-in function swapcase:

swapcase() method of builtins.str instance
    Convert uppercase characters to lowercase and lowercase characters to uppercase.

### casefold()
* it acts as unicode level
* all the string characters in casefold method are lower case

In [17]:
s = 'german is in β'
s.lower(), s.casefold()

('german is in β', 'german is in β')

In [27]:
z = 'hfβgfkd fhghdfkjdshfkj hgkshfkjdf'
print(z)

hfβgfkd fhghdfkjdshfkj hgkshfkjdf

In [28]:
z.casefold()

'hfβgfkd fhghdfkjdshfkj hgkshfkjdf'

In [14]:
help(s.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.